@font-face {
    font-family: boutros;
    src: url(../fonts/BoutrosART-Medium.otf);
}

@font-face {
    font-family: DroidKufi-Bold;
    src: url(../fonts/DroidKufi-Bold.ttf);
}

@font-face {
    font-family: DroidKufi-Regular;
    src: url(../fonts/DroidKufi-Regular.ttf);
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url('../images/Untitled-1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.row {
    margin: 0;
}

/* ############################################ LOGIN PAGE */

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}

.login-img-cont {
    width: 250px;
    height: auto;
    border: 2px solid white;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.login-img {
    width: 100%;
    border-radius: 10px;
}

.login-form input {
    display: block;
    margin-bottom: 15px;
    background: white;
    border: 3px solid transparent;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 12px;
}

.login-form input:focus {
    background: #fff;
    outline: none;
    border: 3px solid #f00b0f79;
}

.login-form input::placeholder {
    text-align: center;
}

.login-content {
    text-align: center;
}

.login-form button {
    font-family: boutros;
    border: none;
    color: #000;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.8s ease;
}

.remember-me-cont {
    margin-bottom: 15px;
    justify-content: space-around;
    align-items: center;
    margin-right: 18.857px;
}

.remember-me {
    font-family: DroidKufi-Regular;
    margin: 0;
    margin-left: 15px;
    font-size: 12px;
}

.forget-password {
    font-family: DroidKufi-Regular;
    color: white;
    font-size: 12px;
}

.forget-password:hover {
    color: white;
}

.login-form button:hover {
    color: #fff;
    background-color: #000;
    transform: scale(1.1);
}

.login-form p {
    font-family: DroidKufi-bold;
    color: white;
    font-size: 12px;
}

/* ############################################ NAV 1 */

nav {
    position: relative;
}

.nav-1 {
    border-bottom: 2px solid white;
    background-color: #f00b0e;
    position: relative;
    padding: 10px 0px;
}

.profile-name {
    font-family: DroidKufi-regular;
    color: white;
}

.role {
    font-family: DroidKufi-regular;
    color: white;
    font-size: 10px;
}

.profile-img-cont {
    width: 65px;
    height: 65px;
    margin-left: 15px;
    margin-right: 15px;
}

.profile-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 50%;
}

.logout-btn {
    font-family: DroidKufi-regular;
    color: white;
    border: 1px solid white;
    padding: 5px;
}

.logout-btn:hover {
    color: white;
}

.burger-btn {
    width: 25px;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.close-btn {
    width: 25px;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.show-btn {
    display: inline-block;
}

.hide-btn {
    display: none;
}

.nav-hide-btn {
    width: fit-content;
}

.nav-hide-btn:hover {
    text-decoration: none;
}

@media(max-width:426px) {
    .profile-img-cont {
        width: 50px;
        height: 50px;
        margin-left: 7px;
        margin-right: 7px;
    }

    .logout-btn {
        font-size: 12px;
    }

}

/* ############################################ NAV 2 */

.nav-2 {
    border-bottom: 2px solid white;
    padding: 10px 0px;
    transition: 0.8s ease-in-out;
    background-color: #f00b0e;
    position: absolute;
    bottom: 85px;
}

.show-nav-2 {
    transform: translateY(145%);
}

@media(max-width:544px) {
    .show-nav-2 {
        transform: translateY(135%);
    }
}

@media(max-width:376px) {
    .nav-2 {
        bottom: 120px;
    }

    .show-nav-2 {
        transform: translateY(145%);
    }

    .close-btn {
        width: 15px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .burger-btn {
        width: 15px;
        margin-right: 5px;
        margin-left: 5px;
    }
}

@media(max-width:357px) {
    .show-nav-2 {
        transform: translateY(140%);
    }
}


.nav-2-tables {
    text-align: center;
    border: 1px solid white;
    margin: 0 15px;
}

.nav-2-tables p {
    font-family: DroidKufi-bold;
    color: #000;
    font-size: 14px;
    background-color: #fff;
    padding: 5px 35px;
    margin: 0px;
}

.nav-2-tables a {
    display: block;
    color: white;
    font-family: DroidKufi-regular;
    font-size: 12px;
    margin-bottom: 7px;
    border-bottom: 1px solid #fff;
}

.nav-2-tables a:hover {
    text-decoration: none;
}

.nav-2-tables-content {
    padding: 5px 15px;
}


/* ############################################ MAIN  */

.main-cont {
    padding-top: 25px;
}

.main-cont input {
    background: transparent;
    border: 3px solid white;
    border-radius: 7px;
    padding: 6px 12px;
    font-family: DroidKufi-regular;
    font-size: 14px;
    color: white;
    text-align: right;
}

.main-cont input:focus {
    background: #fff;
    outline: none;
    border: 3px solid #f00b0f79;
    text-align: right;
    font-family: DroidKufi-regular;
    font-size: 14px;
    color: black;
}

.main-cont input::placeholder {
    text-align: right;
    color: white;
}

.search-bar {
    width: 50%;
}

.adding-btn {
    font-family: DroidKufi-bold;
    color: black;
    background-color: #fff;
    padding: 6px 9px;
    border-radius: 7px;
}

.adding-btn:hover {
    color: #000;
}

.fa-plus {
    margin-left: 3px;
}

.table-title {
    font-family: DroidKufi-bold;
    color: #000;
    background-color: #fff;
    text-align: center;
    padding: 15px 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}

.table-title-2 {
    font-family: DroidKufi-bold;
    color: #000;
    background-color: #fff;
    text-align: center;
    padding: 15px 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 15px;
}

.content-table {
    border: 1px solid white;
    padding: 10px 15px;
    border-collapse: separate;
    margin: auto;
}

.content-table-2 {
    border: 1px solid white;
    padding: 10px 15px;
    border-collapse: separate;
    width: fit-content;
    margin: auto;
}

@media(max-width:376px) {
    .content-table-2 {
        width: auto;
    }
}


.content-table thead th,
.content-table-2 thead th {
    color: white;
    font-family: DroidKufi-bold;
    font-size: 12px;
    border: none;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 0px;
}

.content-table thead th p,
.content-table-2 thead th p {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.content-table td,
.content-table-2 td {
    color: white;
    font-family: DroidKufi-regular;
    padding: 0px 7px;
    font-size: 12px;
    border: none;
}

.content-table td p,
.content-table-2 td p {
    margin: 0px;
    padding: 8px;
}

.developed-by {
    font-family: DroidKufi-bold;
    color: white;
    font-size: 12px;
    text-align: center;
    margin-top: 25px;
}

/* ####### FOR TESTING PURPOSES */
.ntakhab {
    background-color: green;
}

.mantakhab {
    background-color: grey;
}